$main-font: "Montserrat", sans-serif;
$accent-font: "Roboto", sans-serif;
$bg-color: #e2e2e2;
$highlight: #f1f1f1;
$shadow: #cecece;

$main-color: #13043d;
$input-color: #c9c6cf;
$accent-color: rgb(79, 31, 209);
$accent-highlight: #8158f0;
$accent-shadow: #411baa;

$delete-color: #ff6f8e;

$width: 95%;
$height: 80%;

$border-radius: 20px;
$input-border-radius: 10px;
